.container-layout{
    padding: 4rem 0;
}

.container-layout-large{
    padding: 7rem 0;
}

.row{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.row-full{
    margin: 0 4rem;
    display: flex;
    position: relative;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.full-content{
    width: 100%;
}

.item-center{
    align-self: center;
}
