.underline {
  width: 96px;
  border: 1px solid color(text-black);
  margin: 0 auto 4rem;
}


%content-size{
  .section-title{
    align-self: center;
    text-align: center;
    font-size: size(xl);
  }
  .section-subtitle{
    align-self: center;
    text-align: center;
    font-size: size(md);
  }
  .article-title{
    font-size: size(lg);
  }
  .article-content{
    font-size: size(sm);
  }
  .detail-title{
    font-size: size(md);
  }
  .detail-content{
    font-size: size(xs)
  }
}

%main-button {
  button {
    width: 170px;
    height: 45px;
    font-size: size(xs);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(neuftek);
    background-color: transparent;
    border: 1px solid color(neuftek);
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 25px;
    &:hover {
      background-color: color(neuftek);
      color: color(text-light);
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

%main-button-lighter {
  button {
    width: 170px;
    height: 45px;
    font-size: size(sm);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(greenblue);
    background-color: transparent;
    border: 2px solid color(greenblue);
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      font-weight: 500;
      background-color: color(greenblue);
      color: color(text-light);
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

@mixin sub-banner($height: 200px,$img :url(../img/sub-banner5.jpg)){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: $height;
  background-color: #000;
  background-image: $img;
  background-size: cover;
  color: color(text-light);

  .banner-title {
    font-size: size(title);
    font-weight: bold;
  }

  .banner-describe {
    font-size: size(md);
    width: 50vw;
    text-align: center;
  }

  .banner-underline {
    border: 1px solid color(text-light);
    width: 75px;
    display: block;
    margin: 20px auto 20px auto;
  }
}

// 可以做成適應所有大小的 fake content 集合(未完成)
@mixin fake-content($height,$width,$color:color(quaternary)){
  .fake-content{
    display: block;
    height: $height;
    width: $width;
    background-color: $color;
  }
  .fake-content-circle{
    height: $height;
    width: $width;
    border-radius: 999em;
    background-color: $color;
  }
  .f-lg{
    box-sizing: border-box ;
    background-color: $color;
  }
  .f-md{
    box-sizing: border-box ;
    background-color: $color;
  }
  .f-sm{
    box-sizing: border-box ;
    background-color: $color;
  }
}

@mixin columnPosition($layout, $height: 0, $width: 0) {
  position: relative;
  height: $height;
  width: $width;
  @if ($layout == l) {
    left: 10rem;
  }
  @if ($layout == ml) {
    left: 33rem;
  }
  @if ($layout == m) {
    left: 55rem;
  }
  @if ($layout == mr) {
    left: 79rem;
  }
  @if ($layout == r) {
    left: 101rem;
  }
}

@mixin response($breakpoint) {
	@if ($breakpoint==normal) {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if ($breakpoint==sm) {
    @media (max-width: 480px) {
      @content;
    }
  }

  @if ($breakpoint==md) {
    @media (min-width: 768px) and (max-width: 979px)  {
      @content;
    }
  }
  
	@if ($breakpoint==lg) {
    @media (min-width: 980px) {
      @content;
    }
  }

	@if ($breakpoint==xl) {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
