$colors: (
    neuftek:#ff6900,
    text-light:#fff,
    text-gray:#a3aaaf,
    primary: #00bfff,
    secondary: #ffe,
    tertiary: #f2f0f1,
    quaternary: #f5b149,
    deepblue:#272727,
    greenblue:#18807d,
    
    );

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$font-sizes: (xl: 3.6rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem);


@function size($size) {
    @return map-get($font-sizes, $size);
}
