.banner {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  background-image: url(../img/pattern.jpg);
  background-position: 50%;
  background-size: cover;
  color: white;
  text-align: end;
  height: 700px;

  .banner-title {
    font-size: size(xl)+1.2rem;
  }

  .banner-describe{
    font-size: size(sm);
    width: 30vw;
    line-height: 3rem;
    align-self: flex-end;
  }

  .banner-btn{
    @extend %main-button;
    button {
      width: 170px;
      height: 45px;
      font-size: size(xs);
      text-transform: uppercase;
      letter-spacing: 1px;
      color: color(text-light);
      background-color: color(neuftek);
      border: 1px solid color(neuftek);
      &:hover {
        background-color: color(text-light);
        color: color(neuftek);
        border: 1px solid color(text-light);
      }
    }
  }

  @mixin banner-layout($width) {
    @extend %banner-static;
    width: $width;
  }

  %banner-static {
    min-height: 100vh;
    position: static;
  }
}
