.board-title {
  width: 100%;
  font-size: size(xl);
  span {
    font-size: size(xl);
    color: color(neuftek);
  }
}

.about-board {
  display: flex;
  flex-direction: column;
  .board-describe {
    font-size: size(lg);
  }
  &-title{
    // margin-bottom: 2rem;
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .about-board-item {
      padding: 2rem;
      margin: 2rem;
      display: flex;
      flex-direction: column;
      height: 400px;
      max-height: 400px;
      // justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      img {
        width: 200px;
        margin-bottom: 2rem;
      }
      .item-title {
        margin-bottom: 2rem;
        font-size: size(lg);
      }
      .item-describe {
        padding: 2rem;
        font-size: size(md);
      }
    }
  }
  .about-board-btn {
    margin-top: 2rem;
    @extend %main-button;
  }
}

.product-board {
  display: flex;
  flex-direction: column;
  &-title{
    margin-bottom: 2rem;
  }
  &-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
    .product-img {
      img {
        width: 300px;
        height: 150px;
      }
    }
    .product-content {
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .board-describe {
        font-size: size(md);
      }
      .board-btn {
        align-self: flex-end;
        margin-right: 10rem;
        @extend %main-button;
      }
    }
  }
}
.partner-board {
  background-image: url(../img/partner.jpg);
  background-position: 0 50%;
  background-size: cover;
  position: static;
  .partner-board-mask {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    height: 600px;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // &:hover .partner-slogan{
    //   visibility: hidden;
    // }

    .partner-slogan {
      visibility: visible;
      color: color(text-light);
      align-self: center;
      font-size: 8rem;
    }
    button {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 4rem;
      margin-top: 4.5rem;
      padding: 1.5rem;
      cursor: pointer;

      &:hover {
        margin-top: 4.1rem;
        padding: 1.5rem;
        border: solid 0.2rem;
        border-radius: 1rem;
      }
    }
  }
}
