.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: size(lg);
  background-color: color(neuftek);
  color: color(text-light);
  
  .footer-info {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: row;

    .footer-roadmap {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .info-item {
        margin-bottom: 0.5rem;
        font-size: size(xs);
        text-decoration: none;
        color: color(text-light);
        cursor: pointer;
      }
      .info-title{
        margin-bottom:1rem;
        font-size: size(sm);
        font-weight: bold;
      }

      .footer-neuftek {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 200px;
          margin: 0.5rem;
        }
        span{
          font-size: size(lg);
        }
      }

      .footer-product {
        display: flex;
        flex-direction: column;
      }

      .footer-map {
        display: flex;
        flex-direction: column;
      }

      .contact-info{
        display: flex;
        flex-direction: column;
        .info-item{
          cursor: auto;
        }
      }
    }
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.25rem;
    padding: 1.5rem;
  }
}
