.navbar {
  position: fixed;
  background-color: transparent;
  justify-content: space-between;
  text-align: center;
  display: flex;
  z-index: 100;
  transition: all .3s;
  color: white;
  width: 100%;

  &-product {
    display: flex;
    align-items: center;
    img {
      height: 4.5rem;
      padding: 1rem 5rem;
    }
  }

  &-service{
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &-list-item {
    margin: 0 1rem ;
    font-size: size(sm);
    text-decoration: none;
    font-weight: 500;
    color: color(text-light);
    cursor: pointer;
  }

  .item-end{
    margin: 0 5rem 0 1rem ;
  }
}

