.product-solution{
  .section-title{
      text-align: center;
  }
  .solution{
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      padding: 4rem 3rem;
      justify-content: space-around;
      .sol-img{
          @include fake-content(300px,500px);
          img{
              height: 300px;
              width: 500px;
          }
      }
      .sol-content{
          display: flex;
          flex-direction: column;
          width: 500px;
      }
  }
}


.product-feature{
    .lastest-item{
        margin-bottom: 8rem !important;
    }

    .section-subtitle{
        text-align: center;
    }

    .feature-item{
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
        .feature-img{
            .fake{
                background-color: color(quaternary);
                width: 150px;
                height: 150px;
            }
        }
        .feature-content{
            padding-left: 4rem;
            .article-content{
                font-size: size(xs);
                line-height: 1.75;
                letter-spacing: .3px;
            }
        }
    }
}

.product-detailFeature{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: color(tertiary);
    padding: 7rem 0;
    .describe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        align-items: center;
        .article-title{
            font-weight: 500;
        }
    }
    .feature{
        width: 80%;
        display: flex;
        flex-direction: column;
        .lastest-list{
            margin-bottom: 0 !important;
        }
        .feature-list{
            display: flex;
            flex-direction: row;
            margin-bottom: 2rem;
        }
        .feature-item{
            padding-left: 2rem;
            width: 36rem;
            display: flex;
            flex-direction: row;

            i{
                font-size: 4rem;
                color: color(neuftek);
            }
            .item-content{
                padding-left: 1rem;      
                .detail-title{
                    font-weight: 500;
                    margin-bottom: 0.5rem;
                }
                .detail-content{
                    line-height: 1.5;
                    font-weight: 300;
                    letter-spacing: 0.3px;
                }
            }
        }
    }
}

.product-pricing{
    .article-title{
        text-transform: uppercase;
    }
    .pricing-item{
        width: 250px;
        padding: 2rem;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        .pricing-intro{
            padding-bottom: 2rem;
            border-bottom: 1px solid #eeeeee;
            width: 100%;
            .detail-content{
                color: color(text-gray);
            }
        }
        .p-detail{
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            align-items: center;
        }
        @extend %main-button
    }
}

.product-contact{
    background-color: color(tertiary);
    .contact-board{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @extend %main-button;
        .main-logo{
            display: flex;
            justify-content: center;
            img{
                height: 50px;
            }
        }
        .article-title{
            
        }
        .article-content{
            text-align: center;
        }
    }
}