@import url(@splidejs/splide/dist/css/themes/splide-skyblue.min.css);
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Noto Sans TC',"Helvetica Neue",Helvetica,Arial,sans-serif; }

html:not([data-scroll="0"]) .navbar {
  background-color: #2a333d;
  scroll-behavior: smooth; }
  html:not([data-scroll="0"]) .navbar img {
    content: url("../img/logo-header.png"); }

.underline {
  width: 96px;
  border: 1px solid #000;
  margin: 0 auto 4rem; }

.board-title .section-title, .about-board-content .about-board-item .section-title, .about .about-body .what-we-do .do-right .section-title, .about .about-body .how-we-dose .section-title, .about .about-body .about-solution .solution .solution-describe .section-title, .lowi-body .product-intro .intro-describe .section-title, .lowi-body .product-tech .tech-title .section-title, .lowi-body .product-tech .tech-container .tech-item .tech-content .section-title, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .section-title, .lowi-body .product-demo .demo-title .section-title {
  font-size: 3.6rem; }

.board-title .section-subtitle, .about-board-content .about-board-item .section-subtitle, .about .about-body .what-we-do .do-right .section-subtitle, .about .about-body .how-we-dose .section-subtitle, .about .about-body .about-solution .solution .solution-describe .section-subtitle, .lowi-body .product-intro .intro-describe .section-subtitle, .lowi-body .product-tech .tech-title .section-subtitle, .lowi-body .product-tech .tech-container .tech-item .tech-content .section-subtitle, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .section-subtitle, .lowi-body .product-demo .demo-title .section-subtitle {
  font-size: 2rem; }

.board-title .article-title, .about-board-content .about-board-item .article-title, .about .about-body .what-we-do .do-right .article-title, .about .about-body .how-we-dose .article-title, .about .about-body .about-solution .solution .solution-describe .article-title, .lowi-body .product-intro .intro-describe .article-title, .lowi-body .product-tech .tech-title .article-title, .lowi-body .product-tech .tech-container .tech-item .tech-content .article-title, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .article-title, .lowi-body .product-demo .demo-title .article-title {
  font-size: 2.5rem; }

.board-title .article-content, .about-board-content .about-board-item .article-content, .about .about-body .what-we-do .do-right .article-content, .about .about-body .how-we-dose .article-content, .about .about-body .about-solution .solution .solution-describe .article-content, .lowi-body .product-intro .intro-describe .article-content, .lowi-body .product-tech .tech-title .article-content, .lowi-body .product-tech .tech-container .tech-item .tech-content .article-content, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .article-content, .lowi-body .product-demo .demo-title .article-content {
  font-size: 1.8rem; }

.board-title .detail-title, .about-board-content .about-board-item .detail-title, .about .about-body .what-we-do .do-right .detail-title, .about .about-body .how-we-dose .detail-title, .about .about-body .about-solution .solution .solution-describe .detail-title, .lowi-body .product-intro .intro-describe .detail-title, .lowi-body .product-tech .tech-title .detail-title, .lowi-body .product-tech .tech-container .tech-item .tech-content .detail-title, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .detail-title, .lowi-body .product-demo .demo-title .detail-title {
  font-size: 2rem; }

.board-title .detail-content, .about-board-content .about-board-item .detail-content, .about .about-body .what-we-do .do-right .detail-content, .about .about-body .how-we-dose .detail-content, .about .about-body .about-solution .solution .solution-describe .detail-content, .lowi-body .product-intro .intro-describe .detail-content, .lowi-body .product-tech .tech-title .detail-content, .lowi-body .product-tech .tech-container .tech-item .tech-content .detail-content, .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .detail-content, .lowi-body .product-demo .demo-title .detail-content {
  font-size: 1.6rem; }

.banner .banner-btn button, .about-board .about-board-btn button, .product-board-item .product-content-btn button, .slider-board .slider .splide__slide button, .about .about-body .about-relative .relative-btn button, .form-board form .form-btn button, .lowi-body .product-contact .contact-layout .contact-content button {
  width: 170px;
  height: 45px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff6900;
  background-color: transparent;
  border: 1px solid #ff6900;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 25px; }
  .banner .banner-btn button:hover, .about-board .about-board-btn button:hover, .product-board-item .product-content-btn button:hover, .slider-board .slider .splide__slide button:hover, .about .about-body .about-relative .relative-btn button:hover, .form-board form .form-btn button:hover, .lowi-body .product-contact .contact-layout .contact-content button:hover {
    background-color: #ff6900;
    color: #fff; }

.banner .banner-btn a, .about-board .about-board-btn a, .product-board-item .product-content-btn a, .slider-board .slider .splide__slide a, .about .about-body .about-relative .relative-btn a, .form-board form .form-btn a, .lowi-body .product-contact .contact-layout .contact-content a {
  text-decoration: none;
  color: inherit; }

.about .about-title {
  margin-bottom: 2rem; }
  .about .about-title .title {
    font-size: 3.6rem; }
    .about .about-title .title span {
      font-size: 3.6rem;
      color: #ff6900; }

.first-container {
  padding-top: 8rem !important; }

.container-layout {
  padding: 4rem 0; }

.container-layout-large {
  padding: 7rem 0; }

.pd-content {
  padding: 2rem 0; }

.row {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative; }

.row-full {
  margin: 0 4rem;
  display: flex;
  position: relative; }

.flex-multi-row {
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 20px; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.full-content {
  width: 100%; }

.item-center {
  align-self: center;
  align-items: center; }

.main-banner-padding {
  padding-left: 3.2rem;
  padding-right: 3.2rem; }

.bottom-gap-mg {
  margin-bottom: 2rem; }

.content-gap-mg {
  margin-bottom: 2rem; }

.top-gap-mg {
  margin-top: 2rem; }

.neuftek-body {
  background-color: white;
  display: flex;
  flex-direction: column; }

.banner {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  background-image: url(../img/pattern.jpg);
  background-position: 50%;
  background-size: cover;
  color: white;
  text-align: end;
  height: 700px; }
  .banner .banner-title {
    font-size: 4.8rem; }
  .banner .banner-describe {
    font-size: 1.8rem;
    width: 30vw;
    line-height: 3rem;
    align-self: flex-end; }
  .banner .banner-btn button {
    width: 170px;
    height: 45px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: #ff6900;
    border: 1px solid #ff6900; }
    .banner .banner-btn button:hover {
      background-color: #fff;
      color: #ff6900;
      border: 1px solid #fff; }

.navbar {
  position: fixed;
  background-color: transparent;
  justify-content: space-between;
  text-align: center;
  display: flex;
  z-index: 100;
  transition: all .3s;
  color: white;
  width: 100%; }
  .navbar-product {
    display: flex;
    align-items: center; }
    .navbar-product img {
      height: 4.5rem;
      padding: 1rem 5rem; }
  .navbar-service {
    display: flex;
    align-items: center;
    text-transform: uppercase; }
  .navbar-list-item {
    margin: 0 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer; }
  .navbar .item-end {
    margin: 0 5rem 0 1rem; }

.board-title .section-title {
  text-align: center; }

.about-board {
  display: flex;
  flex-direction: column; }
  .about-board .board-describe {
    font-size: 2.5rem; }
  .about-board-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .about-board-content .about-board-item {
      padding: 2rem;
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px; }
      .about-board-content .about-board-item img {
        width: 200px;
        margin-bottom: 2rem; }
      .about-board-content .about-board-item .item-title {
        margin-bottom: 2rem;
        font-size: 2.5rem; }
      .about-board-content .about-board-item .item-describe {
        display: flex;
        height: 200px; }
        .about-board-content .about-board-item .item-describe .article-content {
          text-align: center;
          margin: 0 auto; }
  .about-board .about-board-btn {
    margin-top: 4rem; }

.product-board {
  display: flex;
  flex-direction: column; }
  .product-board-title {
    margin-bottom: 2rem; }
  .product-board-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem; }
    .product-board-item .product-img {
      align-self: center;
      margin-right: 4rem; }
      .product-board-item .product-img img {
        width: 300px;
        height: 150px; }
    .product-board-item .product-content {
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .product-board-item .product-content-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #ff6900; }
      .product-board-item .product-content-describe {
        font-size: 1.8rem;
        margin-bottom: 2rem; }

.partner-board {
  background-image: url(../img/partner.jpg);
  background-position: 0 50%;
  background-size: cover;
  position: static; }
  .partner-board .partner-board-mask {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    height: 600px;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .partner-board .partner-board-mask .partner-slogan {
      visibility: visible;
      color: #fff;
      align-self: center;
      font-size: 8rem; }
    .partner-board .partner-board-mask button {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 4rem;
      margin-top: 4.5rem;
      padding: 1.5rem;
      cursor: pointer; }
      .partner-board .partner-board-mask button:hover {
        margin-top: 4.1rem;
        padding: 1.5rem;
        border: solid 0.2rem;
        border-radius: 1rem; }

.slider-board {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .slider-board img:hover {
    background-color: rgba(0, 0, 0, 0.08); }
  .slider-board .news-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; }
    .slider-board .news-container .news-title {
      font-size: 3.6rem;
      margin-bottom: 2rem; }
    .slider-board .news-container .news-img {
      height: 350px;
      width: 800px; }
      .slider-board .news-container .news-img:hover {
        background-color: rgba(0, 0, 0, 0.08); }
    .slider-board .news-container .news-time {
      font-size: 0.5rem;
      color: #868E96;
      margin: 1rem 0 0.5rem 0.5rem; }
    .slider-board .news-container .news-contain {
      font-size: 1.8rem;
      margin: 1rem;
      padding: 0 1rem; }
  .slider-board .slider {
    max-width: 800px;
    margin: 0rem auto 6rem; }
    .slider-board .slider .controls {
      text-align: center; }
      .slider-board .slider .controls button {
        border: none;
        background: #00bfff;
        color: white;
        cursor: pointer;
        padding: 0.3rem 1rem;
        border-radius: 2rem;
        outline: none;
        transition: background-color 0.2s linear; }
        .slider-board .slider .controls button:hover {
          background: #007399; }
    .slider-board .slider .splide {
      margin: 1rem 0 3rem; }
      .slider-board .slider .splide__slide {
        position: relative;
        display: flex;
        justify-content: center; }
        .slider-board .slider .splide__slide:hover .slide__btn {
          visibility: visible; }
        .slider-board .slider .splide__slide button {
          font-weight: 600;
          border: 2px solid #ff6900; }
        .slider-board .slider .splide__slide .slide__btn {
          visibility: hidden;
          position: absolute;
          z-index: 1;
          bottom: 25%; }
          .slider-board .slider .splide__slide .slide__btn a {
            color: inherit;
            text-decoration: none; }
          .slider-board .slider .splide__slide .slide__btn a:hover {
            color: inherit;
            text-decoration: none;
            cursor: pointer; }
      .slider-board .slider .splide--nav {
        padding: 0; }
      .slider-board .slider .splide__pagination {
        bottom: -3rem; }
        .slider-board .slider .splide__pagination .is-active {
          background: #ff6900; }
      .slider-board .slider .splide__progress__bar {
        background: #ff6900; }
      .slider-board .slider .splide__autoplay {
        margin-top: 1rem;
        text-align: center; }
      .slider-board .slider .splide__arrow svg {
        width: 40px;
        height: 40px;
        fill: #ff6900;
        transition: fill 0.2s linear; }
      .slider-board .slider .splide__play, .slider-board .slider .splide__pause {
        border: none;
        background: #ff6900;
        color: #fff;
        transition: background-color 0.2s linear;
        cursor: pointer;
        padding: 0.3rem 1rem;
        border-radius: 2rem;
        outline: none;
        margin: 0.2rem; }
        .slider-board .slider .splide__play:hover, .slider-board .slider .splide__pause:hover {
          background: #993f00; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5rem;
  background-color: #ff6900;
  color: #fff; }
  .footer .footer-info {
    margin: 0 16rem;
    padding: 5rem 0;
    display: flex;
    flex-direction: row; }
    .footer .footer-info .footer-roadmap {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .footer .footer-info .footer-roadmap .info-item {
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: #fff;
        cursor: pointer; }
      .footer .footer-info .footer-roadmap .info-title {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: bold; }
      .footer .footer-info .footer-roadmap .footer-content {
        height: 100%;
        display: flex;
        flex-direction: column; }
      .footer .footer-info .footer-roadmap .footer-neuftek {
        align-items: center; }
        .footer .footer-info .footer-roadmap .footer-neuftek img {
          width: 200px;
          margin: 0.5rem; }
        .footer .footer-info .footer-roadmap .footer-neuftek span {
          font-size: 2.5rem; }
      .footer .footer-info .footer-roadmap .contact-info .info-item {
        cursor: auto; }
  .footer .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.25rem;
    padding: 1.5rem; }

.about-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: 200px;
  background-color: #000;
  background-image: url(../img/sub-banner5.jpg);
  background-size: cover;
  color: #fff; }
  .about-banner .banner-title {
    font-size: 4.5rem;
    font-weight: bold; }
  .about-banner .banner-describe {
    font-size: 2rem;
    width: 50vw;
    text-align: center; }
  .about-banner .banner-underline {
    border: 1px solid #fff;
    width: 75px;
    display: block;
    margin: 20px auto 20px auto; }

.about .about-body {
  background-color: white;
  display: flex;
  flex-direction: column; }
  .about .about-body .what-we-do .do-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .about-body .what-we-do .do-left .do-slogan {
      font-size: 3.6rem; }
    .about .about-body .what-we-do .do-left .do-img .fake-content {
      display: block;
      height: 350px;
      width: 350px;
      background-color: #f5b149; }
    .about .about-body .what-we-do .do-left .do-img .f-lg {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .what-we-do .do-left .do-img .f-md {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .what-we-do .do-left .do-img .f-sm {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .what-we-do .do-left .do-step {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around; }
      .about .about-body .what-we-do .do-left .do-step .step .fake-content {
        display: block;
        height: 100px;
        width: 100px;
        background-color: #f5b149; }
      .about .about-body .what-we-do .do-left .do-step .step .f-lg {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .what-we-do .do-left .do-step .step .f-md {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .what-we-do .do-left .do-step .step .f-sm {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .what-we-do .do-left .do-step .step .step-content {
        text-align: center; }
  .about .about-body .what-we-do .do-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about .about-body .what-we-do .do-right .article-content {
      width: 500px; }
  .about .about-body .how-we-dose {
    background-color: #f1f3f5; }
    .about .about-body .how-we-dose .feature {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      width: 500px; }
      .about .about-body .how-we-dose .feature .fake-content {
        display: block;
        height: 150px;
        width: 200px;
        background-color: #f5b149; }
      .about .about-body .how-we-dose .feature .f-lg {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .how-we-dose .feature .f-md {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .how-we-dose .feature .f-sm {
        box-sizing: border-box;
        background-color: #f5b149; }
      .about .about-body .how-we-dose .feature .feature-describe {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .about .about-body .how-we-dose .feature .feature-describe .title {
          font-size: 2rem; }
        .about .about-body .how-we-dose .feature .feature-describe .content {
          font-size: 1.6rem; }
  .about .about-body .about-solution .solution {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 40px; }
    .about .about-body .about-solution .solution .solution-img .fake-content {
      display: block;
      height: 300px;
      width: 500px;
      background-color: #f5b149; }
    .about .about-body .about-solution .solution .solution-img .f-lg {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .about-solution .solution .solution-img .f-md {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .about-solution .solution .solution-img .f-sm {
      box-sizing: border-box;
      background-color: #f5b149; }
    .about .about-body .about-solution .solution .solution-describe {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  .about .about-body .about-relative .relative-img .fake-content {
    display: block;
    height: 200px;
    width: 100%;
    background-color: #f5b149; }
  .about .about-body .about-relative .relative-img .f-lg {
    box-sizing: border-box;
    background-color: #f5b149; }
  .about .about-body .about-relative .relative-img .f-md {
    box-sizing: border-box;
    background-color: #f5b149; }
  .about .about-body .about-relative .relative-img .f-sm {
    box-sizing: border-box;
    background-color: #f5b149; }
  .about .about-body .about-relative .relative-btn {
    display: flex; }
    .about .about-body .about-relative .relative-btn a {
      margin: 0 auto; }

.contact-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: 200px;
  background-color: #000;
  background-image: url(../img/sub-banner5.jpg);
  background-size: cover;
  color: #fff; }
  .contact-banner .banner-title {
    font-size: 4.5rem;
    font-weight: bold; }
  .contact-banner .banner-describe {
    font-size: 2rem;
    width: 50vw;
    text-align: center; }
  .contact-banner .banner-underline {
    border: 1px solid #fff;
    width: 75px;
    display: block;
    margin: 20px auto 20px auto; }

.form-board {
  display: flex;
  flex-direction: column; }
  .form-board .form-title {
    margin-bottom: 4rem; }
    .form-board .form-title .title {
      font-size: 3.6rem;
      margin-bottom: 2rem; }
      .form-board .form-title .title span {
        font-size: 3.6rem;
        color: #ff6900; }
    .form-board .form-title .subtitle {
      font-size: 2rem; }
  .form-board form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    align-self: center; }
    .form-board form .form-dropdown, .form-board form .form-name, .form-board form .form-company, .form-board form .form-email, .form-board form .form-tel, .form-board form .form-textarea {
      flex: 1;
      padding: 1rem;
      font-size: 1.6rem;
      margin: 1rem 0.5rem;
      border: 0.1rem solid #1a1a1a;
      border-radius: 0.3rem;
      outline: none;
      transition: border 0.5s;
      padding-left: 2rem; }
      .form-board form .form-dropdown:focus:not([type="submit"]), .form-board form .form-name:focus:not([type="submit"]), .form-board form .form-company:focus:not([type="submit"]), .form-board form .form-email:focus:not([type="submit"]), .form-board form .form-tel:focus:not([type="submit"]), .form-board form .form-textarea:focus:not([type="submit"]) {
        border: 0.1rem solid #662a00; }
    .form-board form .input-title {
      font-size: 1.8rem; }
    .form-board form input {
      font-size: 1.6rem; }
    .form-board form .form-dropdown {
      padding-left: 1.5rem; }
    .form-board form .form-textarea {
      resize: none;
      height: 20rem;
      font-size: 2rem; }
    .form-board form .form-btn {
      align-self: flex-end;
      margin-right: .5rem;
      margin-top: 3.5rem; }

.lowi-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: 200px;
  background-color: #000;
  background-image: url(../img/sub-banner5.jpg);
  background-size: cover;
  color: #fff; }
  .lowi-banner .banner-title {
    font-size: 4.5rem;
    font-weight: bold; }
  .lowi-banner .banner-describe {
    font-size: 2rem;
    width: 50vw;
    text-align: center; }
  .lowi-banner .banner-underline {
    border: 1px solid #fff;
    width: 75px;
    display: block;
    margin: 20px auto 20px auto; }

.lowi-body .product-title {
  font-size: 3.6rem; }
  .lowi-body .product-title span {
    font-size: 3.6rem;
    color: #ff6900; }

.lowi-body .title-bottom {
  margin-bottom: 3rem; }

.lowi-body .subtitle-bottom {
  margin-bottom: 6rem; }

.lowi-body .product-intro {
  display: flex;
  flex-direction: column; }
  .lowi-body .product-intro .intro-describe .section-subtitle {
    max-width: 1000px;
    align-self: center;
    text-align: center; }
  .lowi-body .product-intro .intro-describe .intro-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .lowi-body .product-intro .intro-describe .intro-icon-list .icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem; }
      .lowi-body .product-intro .intro-describe .intro-icon-list .icon-item i {
        font-size: 6rem;
        color: #ff6900;
        margin-bottom: 2rem; }
      .lowi-body .product-intro .intro-describe .intro-icon-list .icon-item .icon-title {
        font-size: 2rem; }
  .lowi-body .product-intro .intro-sol {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .lowi-body .product-intro .intro-sol .sol-tab {
      padding: 1rem 0; }
      .lowi-body .product-intro .intro-sol .sol-tab .tab-list {
        width: 1140px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around; }
        .lowi-body .product-intro .intro-sol .sol-tab .tab-list .tab-item {
          display: flex;
          position: relative;
          flex-direction: column;
          list-style: none;
          justify-content: space-between;
          cursor: pointer; }
          .lowi-body .product-intro .intro-sol .sol-tab .tab-list .tab-item .tab-content {
            font-size: 2rem; }
          .lowi-body .product-intro .intro-sol .sol-tab .tab-list .tab-item img {
            width: 150px; }
          .lowi-body .product-intro .intro-sol .sol-tab .tab-list .tab-item .img-shorter {
            padding-top: 1.5rem; }
    .lowi-body .product-intro .intro-sol .sol-content .content-assign-l {
      position: relative;
      height: 2rem;
      width: 0;
      left: 10rem; }
    .lowi-body .product-intro .intro-sol .sol-content .content-assign-ml {
      position: relative;
      height: 2rem;
      width: 0;
      left: 33rem; }
    .lowi-body .product-intro .intro-sol .sol-content .content-assign-m {
      position: relative;
      height: 2rem;
      width: 0;
      left: 55rem; }
    .lowi-body .product-intro .intro-sol .sol-content .content-assign-mr {
      position: relative;
      height: 2rem;
      width: 0;
      left: 79rem; }
    .lowi-body .product-intro .intro-sol .sol-content .content-assign-r {
      position: relative;
      height: 2rem;
      width: 0;
      left: 101rem; }
    .lowi-body .product-intro .intro-sol .sol-content .arrow {
      border-color: transparent transparent #f1f3f5 transparent;
      border-style: solid solid solid solid;
      border-width: 0 1.5rem 2rem 1.5rem;
      width: 0px; }
    .lowi-body .product-intro .intro-sol .sol-content .content-item {
      padding: 7rem 0;
      background-color: #f1f3f5; }
      .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container {
        height: 400px;
        font-size: 2.5rem; }
        .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .left-content {
          padding: 0 2rem;
          width: 40%;
          display: flex;
          flex-direction: column; }
          .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .left-content .tab-title {
            margin-top: 4rem;
            font-size: 2.5rem; }
          .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .left-content .tab-subtitle {
            margin-top: 2rem;
            font-size: 2rem; }
          .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .left-content .tab-describe {
            margin-top: 2rem;
            font-size: 1.8rem; }
        .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .right-content {
          width: 60%;
          display: flex;
          justify-content: center; }
          .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .right-content img {
            width: 600px;
            height: 400px; }
          .lowi-body .product-intro .intro-sol .sol-content .content-item .content-container .right-content .fake {
            background-color: #f5b149;
            width: 600px;
            height: 400px; }

.lowi-body .product-tech .tech-title .section-subtitle {
  align-self: center;
  text-align: center; }

.lowi-body .product-tech .tech-container .lastest-item {
  margin-bottom: 8rem !important; }

.lowi-body .product-tech .tech-container .tech-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem; }
  .lowi-body .product-tech .tech-container .tech-item .tech-img .fake {
    background-color: #f5b149;
    width: 150px;
    height: 150px; }
  .lowi-body .product-tech .tech-container .tech-item .tech-content {
    padding-left: 4rem; }
    .lowi-body .product-tech .tech-container .tech-item .tech-content .article-content {
      font-size: 1.6rem;
      line-height: 1.75;
      letter-spacing: .3px; }

.lowi-body .product-tech .tech-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f1f3f5;
  padding: 7rem 0; }
  .lowi-body .product-tech .tech-feature .describe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    align-items: center; }
    .lowi-body .product-tech .tech-feature .describe .title {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 4rem; }
    .lowi-body .product-tech .tech-feature .describe .content {
      text-align: center;
      font-size: 1.6rem; }
  .lowi-body .product-tech .tech-feature .feature {
    width: 75%;
    display: flex;
    flex-direction: column; }
    .lowi-body .product-tech .tech-feature .feature .lastest-list {
      margin-bottom: 0 !important; }
    .lowi-body .product-tech .tech-feature .feature .feature-list {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem; }
    .lowi-body .product-tech .tech-feature .feature .feature-item {
      padding-left: 2rem;
      width: 36rem;
      display: flex;
      flex-direction: row; }
      .lowi-body .product-tech .tech-feature .feature .feature-item i {
        font-size: 4rem;
        color: #ff6900; }
      .lowi-body .product-tech .tech-feature .feature .feature-item .item-content {
        padding-left: 1rem; }
        .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .detail-title {
          font-weight: 500;
          margin-bottom: 0.5rem; }
        .lowi-body .product-tech .tech-feature .feature .feature-item .item-content .detail-content {
          line-height: 1.5;
          font-weight: 300;
          letter-spacing: 0.3px; }

.lowi-body .product-demo {
  display: flex;
  flex-direction: column; }
  .lowi-body .product-demo .demo-title .section-title {
    text-align: center; }
  .lowi-body .product-demo .demo-container {
    display: block; }
    .lowi-body .product-demo .demo-container .demo-list {
      display: flex;
      flex-direction: row; }
      .lowi-body .product-demo .demo-container .demo-list .demo-item {
        flex: 1;
        position: relative;
        margin-bottom: 4rem;
        align-items: center;
        display: flex;
        flex-direction: column; }
        .lowi-body .product-demo .demo-container .demo-list .demo-item .demo-img {
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
          height: 200px;
          overflow: hidden; }
          .lowi-body .product-demo .demo-container .demo-list .demo-item .demo-img img {
            width: 350px; }
        .lowi-body .product-demo .demo-container .demo-list .demo-item .demo-title {
          text-align: center;
          font-size: 2.5rem; }
        .lowi-body .product-demo .demo-container .demo-list .demo-item .demo-describe {
          text-align: center;
          font-size: 1.8rem; }
        .lowi-body .product-demo .demo-container .demo-list .demo-item .demo-content {
          width: inherit;
          margin-left: 2rem;
          display: flex;
          flex-direction: column; }

.lowi-body .product-contact {
  background-image: url("../img/partner.jpg");
  background-position: 0 50%;
  background-size: cover; }
  .lowi-body .product-contact .contact-layout {
    z-index: 10;
    height: 600px;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }

.related-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: 200px;
  background-color: #000;
  background-image: url(../img/sub-banner5.jpg);
  background-size: cover;
  color: #fff; }
  .related-banner .banner-title {
    font-size: 4.5rem;
    font-weight: bold; }
  .related-banner .banner-describe {
    font-size: 2rem;
    width: 50vw;
    text-align: center; }
  .related-banner .banner-underline {
    border: 1px solid #fff;
    width: 75px;
    display: block;
    margin: 20px auto 20px auto; }

.support-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  height: 200px;
  background-color: #000;
  background-image: url(../img/sub-banner5.jpg);
  background-size: cover;
  color: #fff; }
  .support-banner .banner-title {
    font-size: 4.5rem;
    font-weight: bold; }
  .support-banner .banner-describe {
    font-size: 2rem;
    width: 50vw;
    text-align: center; }
  .support-banner .banner-underline {
    border: 1px solid #fff;
    width: 75px;
    display: block;
    margin: 20px auto 20px auto; }

.support .support-body {
  display: flex;
  flex-direction: row; }
  .support .support-body .support-container {
    padding-top: 4rem;
    width: 75%; }
    .support .support-body .support-container .support-title {
      margin-bottom: 4rem; }
      .support .support-body .support-container .support-title .title {
        font-size: 3.6rem;
        margin-bottom: 2rem; }
        .support .support-body .support-container .support-title .title span {
          font-size: 3.6rem;
          margin-bottom: 2rem;
          color: #ff6900; }
      .support .support-body .support-container .support-title .subtitle {
        font-size: 2rem; }
    .support .support-body .support-container .question {
      margin-bottom: 6rem; }
      .support .support-body .support-container .question .question-title {
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 2rem; }
      .support .support-body .support-container .question .question-content {
        color: #868E96;
        font-size: 1.6rem; }
    .support .support-body .support-container .fake {
      height: 100vh; }
  .support .support-body .support-navbar-list {
    width: 25%;
    padding-left: 9.6rem; }
    .support .support-body .support-navbar-list .navbar-layout {
      padding: 2rem;
      background-color: #f1f3f5;
      margin-bottom: .5rem; }
      .support .support-body .support-navbar-list .navbar-layout .navbar-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.6rem; }
      .support .support-body .support-navbar-list .navbar-layout .nav-item {
        list-style-type: none;
        margin-bottom: 1.6rem;
        line-height: 1.25; }
        .support .support-body .support-navbar-list .navbar-layout .nav-item .nav-title {
          font-size: 1.6rem;
          font-weight: 400; }
          .support .support-body .support-navbar-list .navbar-layout .nav-item .nav-title:hover {
            color: #ff6900; }
        .support .support-body .support-navbar-list .navbar-layout .nav-item a {
          text-decoration: none;
          color: #868E96; }
