.about {
  &-banner {
    @include sub-banner();

  }

  .about-title {
    @extend %title
  }

  .about-body {
    background-color: white;
    display: flex;
    flex-direction: column;

    .what-we-do{
      .do-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .do-slogan{
          font-size: size(xl);
        }
        .do-img{
          @include fake-content(350px,350px)
        }
        .do-step{
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
          
          .step{
            @include fake-content(100px,100px);
            .step-content{
              text-align: center;
            }
          }
        }
      }
      .do-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @extend %content-size;

        .article-content{
          width: 500px;
        }
      }
    }

    .how-we-dose{
      background-color: color(tertiary);
      @extend %content-size;
      .feature{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        width: 500px;
        @include fake-content(150px,200px);
        .feature-describe{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title{
            font-size: size(md);
          }
          .content{
            font-size: size(xs);
          }
        }
      }
    }

    .about-solution{
      .solution{
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 40px;
        .solution-img{
          @include fake-content(300px,500px);
        }
        .solution-describe{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          @extend %content-size;
        }
      }
    }

    .about-relative{
      .relative-img{
        @include fake-content(200px,100%);
      }
      .relative-btn{
        display: flex;
        @extend %main-button;
        a{
          margin: 0 auto;
        }
      }
    }
  }
}
