.lowi{
    &-banner{
        @include sub-banner();
    }
    &-body{
        .product-title{
            font-size: size(xl);
            span {
                font-size: size(xl);
                color: color(neuftek);
            }
        }

        .product-intro{
            display: flex;
            flex-direction: column;
            .intro-describe{
                .section-subtitle{
                    max-width: 1000px;
                    align-self: center;
                    text-align: center;
                }
                .intro-icon-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .icon-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 2rem;
                        i{
                            font-size: 6rem;
                            color: color(neuftek);
                            margin-bottom: 2rem;
                        }
                        .icon-title{
                            font-size: size(md);
                        }
                    }
                }
            }
            .intro-sol{
                display: flex;
                justify-content: center;
                flex-direction: column;
                .sol-tab{
                    padding: 1rem 0;
                    .tab-list{
                        width: 1140px;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: space-around;
                        .tab-item{
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            list-style: none;
                            justify-content: space-between;
                            cursor: pointer;
                            .tab-content{
                                font-size: size(md);
                            }
                            img{
                                width: 150px;
                            }
                            .img-shorter{
                                padding-top: 1.5rem;
                            }
                        }
                    }
                }
                .sol-content{
                    .content-assign-l{
                        @include columnPosition(l,2rem);
                    }
                    .content-assign-ml{
                        @include columnPosition(ml,2rem);
                    }
                    .content-assign-m{
                        @include columnPosition(m,2rem);
                    }
                    .content-assign-mr{
                        @include columnPosition(mr,2rem);
                    }
                    .content-assign-r{
                        @include columnPosition(r,2rem);
                    }
                    .arrow{
                        border-color: transparent transparent color(tertiary) transparent;
                        border-style: solid solid solid solid; 
                        border-width: 0 1.5rem 2rem 1.5rem;
                        width: 0px; // 防止寬度跟隨 parent widget
                    }
                    .content-item{
                        padding: 7rem 0;
                        background-color: color(tertiary);
                        .content-container{
                            height: 400px;
                            font-size: size(lg);
                            .left-content{
                                padding: 0 2rem;
                                width: 40%;
                                display: flex;
                                flex-direction: column;                    
                                .tab-title{
                                    margin-top: 4rem;
                                    font-size: size(lg);
                                }
                                .tab-subtitle{
                                    margin-top: 2rem;
                                    font-size: size(md);
                                    
                                }
                                .tab-describe{
                                    margin-top: 2rem;
                                    font-size: size(sm);
                                }
                            }
                            .right-content{
                                width: 60%;
                                display: flex;
                                justify-content: center;
                                img{
                                    width: 600px;
                                    height: 400px;
                                }
                                .fake{
                                    background-color: color(quaternary);
                                    width: 600px;
                                    height: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}