.lowi{
    &-banner{
        @extend %sub-banner
    }
    &-body{

        .product-title{
            font-size: size(xl);
            span {
                font-size: size(xl);
                color: color(neuftek);
            }
        }

        .product-intro{
            display: flex;
            flex-direction: column;
            padding-top: 8rem;
            .intro-describe{
                align-self: center;
                text-align: center;
                .intro-subtitle{
                    font-size:size(xl);
                    margin-bottom: 3rem;
                }
                .intro-content{
                    max-width: 1000px;
                    font-size: size(md);
                    margin-bottom: 6rem;
                }
                .intro-icon-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .icon-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 2rem;
                        i{
                            font-size: 6rem;
                            color: color(neuftek);
                            margin-bottom: 2rem;
                        }
                        .icon-title{
                            font-size: size(md);
                        }
                    }
                }
            }
            .intro-sol{
                display: flex;
                justify-content: center;
                flex-direction: column;
                .sol-tab{
                    padding: 1rem 0;
                    .tab-list{
                        width: 1140px;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: space-around;
                        .tab-item{
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            list-style: none;
                            justify-content: space-between;
                            cursor: pointer;
                            .tab-content{
                                font-size: size(md);
                            }
                            img{
                                width: 150px;
                            }
                            .img-shorter{
                                padding-top: 1.5rem;
                            }
                        }
                    }
                }
                .sol-content{
                    .content-assign-l{
                        @include columnPosition(l,2rem);
                    }
                    .content-assign-ml{
                        @include columnPosition(ml,2rem);
                    }
                    .content-assign-m{
                        @include columnPosition(m,2rem);
                    }
                    .content-assign-mr{
                        @include columnPosition(mr,2rem);
                    }
                    .content-assign-r{
                        @include columnPosition(r,2rem);
                    }
                    .arrow{
                        border-color: transparent transparent color(tertiary) transparent;
                        border-style: solid solid solid solid; 
                        border-width: 0 1.5rem 2rem 1.5rem;
                        width: 0px; // 防止寬度跟隨 parent widget
                    }
                    .content-item{
                        padding: 7rem 0;
                        background-color: color(tertiary);
                        .content-container{
                            height: 400px;
                            font-size: size(lg);
                            .left-content{
                                padding: 0 2rem;
                                width: 40%;
                                display: flex;
                                flex-direction: column;                    
                                .tab-title{
                                    margin-top: 4rem;
                                    font-size: size(lg);
                                }
                                .tab-subtitle{
                                    margin-top: 2rem;
                                    font-size: size(md);
                                    
                                }
                                .tab-describe{
                                    margin-top: 2rem;
                                    font-size: size(sm);
                                }
                            }
                            .right-content{
                                width: 60%;
                                display: flex;
                                justify-content: center;
                                img{
                                    width: 600px;
                                    height: 400px;
                                }
                                .fake{
                                    background-color: color(quaternary);
                                    width: 600px;
                                    height: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-tech{
            .tech-title{
                @extend %main-title
            }
            .tech-container{
                .lastest-item{
                    margin-bottom: 8rem !important;
                }
                .tech-item{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 4rem;
                    .tech-img{
                        .fake{
                            background-color: color(quaternary);
                            width: 150px;
                            height: 150px;
                        }
                    }
                    .tech-content{
                        padding-left: 4rem;
                        .title{
                            font-size: size(lg);
                            margin-bottom: 2rem;
                        }
                        .describe{
                            font-size: size(xs);
                            line-height: 1.75;
                            letter-spacing: .3px;
                        }
                    }
                }
            }
            .tech-feature{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: color(tertiary);
                padding: 7rem 0;
                .describe{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 25%;
                    align-items: center;
                    
                    .title{
                        font-size: size(lg);
                        font-weight: 500;
                        margin-bottom: 4rem;
                    }
                    .content{
                        text-align: center;
                        font-size: size(xs);
                    }
                }
                .feature{
                    width: 75%;
                    .lastest-list{
                        margin-bottom: 0 !important;
                    }
                    .feature-list{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 2rem;
                    }
                    .feature-item{
                        padding-left: 2rem;
                        width: 36rem;
                        display: flex;
                        flex-direction: row;
    
                        i{
                            font-size: 4rem;
                            color: color(neuftek);
                        }
                        .item-content{
                            padding-left: 1rem;            
                            .item-title{
                                font-weight: 500;
                                font-size:size(md);
                                margin-bottom: .5rem;
                            }
                            .item-describe{
                                font-weight: 300;
                                font-size:size(xs);
                                line-height: 1.75;
                                letter-spacing: .3px;
                            }
                        }
                    }
                }
            }
        } 

        .product-demo{
            display: flex;
            flex-direction: column;
            .demo-title{
                @extend %main-title
            }
            .demo-container{
                display: block;
                .demo-list{
                    display:flex;
                    flex-direction: row;
                    .demo-item{
                        flex: 1;
                        position: relative;
                        margin-bottom: 4rem;
                        align-items: center;

                        display: flex;
                        flex-direction: column;
                        .demo-img{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 2rem;
                            height: 200px;
                            overflow: hidden;
                            img{
                                width: 350px;
                            }
                        }
                        .demo-title{
                            text-align: center;
                            font-size: size(lg);
                        }
                        .demo-describe{
                            text-align: center;
                            font-size: size(sm);
                        }
                        .demo-content{
                            width: inherit;
                            margin-left: 2rem;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        .product-contact{
            background-image: url('../img/partner.jpg');
            background-position: 0 50%;
            background-size: cover;
            .contact-layout{
                z-index: 10;
                height: 600px;
                padding: 4rem 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                .contact-content{
                    @extend %main-button
                }
            }
        }
    }
}