.lowi{
    &-banner{
        @extend %sub-banner
    }
    &-body{

        .product-title{
            font-size: size(xl);
            span {
                font-size: size(xl);
                color: color(neuftek);
            }
        }

        .lowi-title{
            margin-bottom: 2rem;
        }

        .product-intro{
            display: flex;
            flex-direction: column;
            .intro-describe{
                align-self: center;
                .intro-subtitle{
                    font-size:size(lg);
                    margin: 1rem 0;
                }
                .intro-content{
                    font-size: size(sm);
                    margin-bottom: 2rem;
                }
                .intro-icon-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .icon-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 2rem;
                        i{
                            font-size: 6rem;
                            color: color(neuftek);
                            margin-bottom: 2rem;
                        }
                        .icon-title{
                            font-size: size(md);
                        }
                    }
                }
            }
        }
        .product-feature{
            display: flex;
            flex-direction: column;
            
            .independent-title{
                font-size: size(lg);
                align-self: center;
                margin-bottom: 2rem;
            }
            .feature-list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .feature-item{
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    i{
                        font-size: 4rem;
                        color: color(neuftek);
                    }
                    
                    .item-title{
                        font-size:size(md)
                    }

                    .item-describe{
                        font-size:size(sm)
                    }
                }
            }
        }
    }
}