.support{
    &-banner{
        @include sub-banner();
    }
    .support-body{
        display: flex;
        flex-direction: row;
        .support-container{
            padding-top: 4rem;
            width: 75%;
            .support-title{
                margin-bottom: 4rem;
                .title{
                    font-size: size(xl);
                    margin-bottom: 2rem;
                    span{
                        font-size: size(xl);
                        margin-bottom: 2rem;
                        color: color(neuftek);
                    }
                }
                .subtitle{
                    font-size: size(md);
                }
            }
            .question{
                margin-bottom: 6rem;
                .question-title{
                    font-weight: 500;
                    font-size: size(sm);
                    margin-bottom: 2rem;
                }
                .question-content{
                    color:color(text-gray);
                    font-size:size(xs)
                }
            }
            .fake{
                height: 100vh;
            }
        }
        .support-navbar-list{
            width: 25%;
            padding-left: 9.6rem;
            .navbar-layout{
                padding: 2rem;
                background-color: color(tertiary);
                margin-bottom: .5rem;
                .navbar-title{
                    font-size: size(sm);
                    font-weight: 500;
                    margin-bottom: 1.6rem;
                }
                .nav-item{
                    list-style-type: none;
                    margin-bottom: 1.6rem;
                    line-height: 1.25;
                    .nav-title{
                        font-size: size(xs);
                        font-weight: 400;
                        &:hover{
                            color:color(neuftek);
                        }
                    }
                    a{
                        text-decoration: none;
                        color: color(text-gray);
                    }
                }
            }
        }
    }
}